[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
requests = "*"
websockets = "*"
httpx = "*"
aiogram = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9"
